@import "../../core-style/variables.scss";
@import '../../core-style/breakpoint.scss';

$blockName: ".schedule-row";

#{$blockName} {
    display: flex;
    list-style-type: none;
    flex-direction: column;
    border-bottom: 1px solid $light-grey;
    color : $dark-grey;
    flex-wrap: wrap;
    height: 66px;
    padding-inline-start: 20px;

    li {
        width: calc(50% - 10px);

        span.icon {
            display: flex;
            align-items: center;
        }
    }

    img {
        width: 24px;
        height: 24px;
        margin-right: 5px;
        margin-left: 0;
        margin-top: 0;
    }

    &.selected-row {
        background-color: $light-blue;
    }
}

@media only screen and  (min-width: $tablet) {
    #{$blockName} {
        flex-direction: row;
        margin-top: 0px;
        margin-bottom: 0px;
        flex-wrap: nowrap;
        height: auto;
        &:hover:not(.selected-row) {
            background-color: $very-light-grey;
        }

        li {
            padding: 8px 0 8px 0;
            width: 20%;
        }
    }

    button {
        width: 50%
    }
}
