/*
 Core styles applicable on all pages of website
*/
@import './breakpoint.scss';
@import './variables.scss';

body {
    font-family : "Roboto","Noto",sans-serif !important;
    font-size: 14px;
    line-height: 1.5;
}

.mobile {
    display: block;
}

@media only screen and  (min-width: $tablet) {
    .mobile {
        display: none;
    }
}

.desktop {
    display: none;
}

@media only screen and  (min-width: $tablet) {
    .desktop {
        display: block;
    }
}

button {
    background-color: $green;
    border: none;
    color: $white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9rem;
    width: 100%;
    height: 100%;
    &:hover {
        background-color: $white;
        color: $light-green;
        cursor: pointer;
        border: 1px solid $grey;
    }
    &:disabled {
        border: 1px solid $medium-grey;
        background-color: $heavy-grey;
        color: $super-grey;
    }
}