/*
 Core variables applicable on all pages of website
*/
$light-green : #4CAF50;
$green : #4CAF50;
$very-light-grey : #f8fdf0;
$light-grey : #e4e4e4;
$medium-grey : #999999;
$heavy-grey: #CCCCCC;
$dark-grey : #9C9C9C;
$super-grey : #666666;
$dark-matter : #333333;
$grey : grey;
$white : white;
$light-blue : lightblue;